<!doctype html>
<html lang="en" ng-app>
  <head>
    <title>Countries</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-responsive.min.css">
  </head>
  <body>
    <div class="row fluid">
      <div class="col-xs-12 xs-col-12 center">
        <h1>Dupa Biskupa</h1>
      </div>
      
    </div>
  
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/angular.min.js"></script>
  </body>
</html>
