body {
    background-image: url('../img/hummingbird-736890_1920.jpg');
    background-repeat: no-repeat;
    background-position: left;
}


li {
    list-style: none;
}

.flag {
    max-width: 400px;
    border: 1px solid;
}

.flag-xs {
    max-width: 75px;
    padding: 3px;
    margin-right: 10px;
}

.footer {
    font-size: 0.75em;
    color: #ECECEC;
}

.footer a  {
    color: #BFBFBF;
    text-decoration: none;
}

.app-content {
    padding: 10px;
}

.center {
    text-align: center;
}

.long {
    width: 90%;
}

.long-data {
    margin: 1% 5% 1% 5%;
}

.margin-bottom-20 {
    margin-bottom: 20px;
}

.md-list-item .md-list-inner {
    min-height: 15px;
}

.photo-footer {
    padding: 5px;
    text-align: center;
}

.top-data {
    margin-top: 25px;
}

.wrapper {
	min-height: 87.5%;
	height: auto !important;
	height: 87.5%;
}