<!-- SECTION 1 -->
<section>
    <div layout-sm="column" layout-md="column" layout="row" layout-align="left" [flex]>
        <!-- Flag -->
        <div class="long-data top-data">
            <img ng-src="img/flags/{{country.cca3 | lowercase}}.svg" class="flag"></img>
        </div>
        
        <!-- Large name -->
        <div class="long-data top-data">
            <span class="md-display-4">{{country.name.common}}</span><br>
            <span class="md-display-1">({{country.name.official}})</span>
        </div>
    </div>
</section>

<!-- SECTION 2 -->
<section>
    <div layout-sm="column" layout-md="column" layout="row" layout-align="left">
        
        <!-- Basic Information -->
        <div class="long-data md-subhead">
            <h3 class="md-headline">Basic Information: </h3>
            <md-list>
                <li>Region: <strong>{{country.region}}</strong></li>
                <li>Subregion: <strong>{{country.subregion}}</strong></li>
                <li>Capital: <strong>{{country.capital}}</strong></li>
                <li>Languages: <span ng-repeat="language in country.languages">{{language}} </span></li>
                <li>Currencies: <span ng-repeat="currency in country.currency"><strong>{{currency}}</strong> </span></li>
            </md-list>
        </div>
        
        <!-- Names -->
        <div class="long-data">
            
            <!-- Basic names -->
            <h3 class="md-headline">Names: </h3>
            <md-list>
                <li>Common name: <strong>{{country.name.common}}</strong></li>
                <li>Official name: <strong>{{country.name.official}}</strong></li>
            </md-list>
            
            <!-- Native Names -->
            <h3 class="md-headline">List of native names:</h3>
            <md-list>
                <li ng-repeat="nativename in country.name.native">
                    <span>Common: <strong>{{nativename.common}}</strong></span>
                    <br>
                    <span>Official: <strong>{{nativename.official}}</strong></span>
                    <br>
                </li>
            </md-list>
        </div>
        
        <!-- Alternative Spellings -->
        <div class="long-data md-subhead">
            <h3 class="md-headline">List of alternative spellings:</h3>
            <md-list>
                <li ng-repeat="spelling in country.altSpellings">{{spelling}}</li>
            </md-list>
            </p>
        </div>
    </div>  
</section>



<!-- SECTION 3 -->
<section>
    <div layout-sm="column" layout-md="column" layout="row" layout-align="left">
        <!-- Technical details -->
        <div class="long-data">
            <h3 class="md-headline">Techinal Information: </h3>
            <md-list>
                <li>TLD: {{country.tld[0]}}</li>
                <li>Country code: {{country.cca3}}</li>
                <li>Calling codes: <span ng-repeat="code in country.callingCode">{{code}}</span></li>
            </md-list>
        </div>
    
    
        <!-- WHO data -->
        <div class="margin-bottom-20 long-data md-subhead">
            <md-list>
                <h3 class="md-headline">WHO Data: </h3>
                <li ng-repeat="(key, desc) in who_code_map" class="md-subhead"><small>{{desc}}: <strong>{{who[key].value.numeric}}</strong></small></li>
            </md-list>
        </div>
    
        <!-- Translations -->
        <div class="long-data md-subhead">
            <h3 class="md-headline">International translations:</h3>
            <md-list>
                <li ng-repeat="(key, lang) in country.translations"><small><strong>{{key}}</strong>: common: <strong>{{lang.common}}</strong>, official: {{lang.official}}</small></li>
            </md-list>
        </div>
    </div>
</section>


<!--
      WHS9_86	Population (in thousands) total		
      WHS9_97	Annual population growth rate (%)		
      WHS9_85	Literacy rate among adults aged >= 15 years (%)		
      WHS9_96	Population living in urban areas (%)

      WHOSIS_000001	Life expectancy at birth (years)
      WHOSIS_000003	Neonatal mortality rate (per 1000 live births)		
      WHOSIS_000006	Infants exclusively breastfed for the first six months of life (%)  

      WHS9_93	Gross national income per capita (PPP int. $) 

      WHOSIS_000011	Alcohol consumption among adults aged ?15 years (litres of pure alcohol per person per year)
      SA_0000001472	Alcohol-related injury mortality, per 1,000		
      SA_0000001473	Alcohol-related disease mortality, per 100,000 (15+ years)
      SA_0000001471	Road traffic crashes involving alcohol, % of all traffic crashes		
      WHOSIS_000012	Prevalence of smoking any tobacco product among adults (?15 years) (%)

      WHOSIS_000008	Children aged <5 years underweight (%)
      MDG_0000000028	Population below minimum level of dietary energy consumption		
      WHOSIS_000009	Children aged <5 years overweight (%)		
      WHOSIS_000010	Adults aged ? 20 years who are obese (%)	
 
      WHS3_40 Cholera - number of reported cases
      WHS3_47 Meningitis - number of reported cases
      WHS3_48 Malaria - number of reported confirmed cases
      WHS2_152	Deaths due to malaria (per 100 000 population)		
      WHS2_138	Deaths due to HIV/AIDS (per 100 000 population)

      WHS6_102	Hospital beds (per 10 000 population)
      WHS6_125	Physicians density (per 10 000 population)		
      WHS6_144	Dentistry personnel density (per 10 000 population)

      WHS2_160	Age-standardized mortality rate by cause (per 100 000 population) - Cancer		
      WHS2_161	Age-standardized mortality rate by cause (per 100 000 population) - Cardiovascular		
      WHS2_162	Age-standardized mortality rate by cause (per 100 000 population) - Injuries		
      WHS2_163	Age-standardized mortality rate by cause (per 100 000 population) - Noncommunicable	
   
   -->


<!-- SECTION 4 - Flickr Images -->
<section>
    <div>
        <md-grid-list md-cols="3" md-gutter="1em" md-row-height="3:3" [flex]>
            <md-grid-tile ng-repeat="photo in flickr.photos.photo | limitTo: 20" class="margin-bottom-20">
                <md-card>
                    <img ng-src="https://farm{{photo.farm}}.staticflickr.com/{{photo.server}}/{{photo.id}}_{{photo.secret}}_c.jpg" alt="{{photo.title}}" class="md-card-image" />
                    <md-footer>
                        <p class="md-subhead photo-footer">{{photo.title}}</p>
                    </md-footer>
                </md-card>
            </md-grid-tile>
        </md-grid-list>
    </div>
</section>


<!-- Flickr images sizing guide: 
    s	small square 75x75
    q	large square 150x150
    t	thumbnail, 100 on longest side
    m	small, 240 on longest side
    n	small, 320 on longest side
    -	medium, 500 on longest side
    z	medium 640, 640 on longest side
    c	medium 800, 800 on longest side†
    b	large, 1024 on longest side*
    h	large 1600, 1600 on longest side†
    k	large 2048, 2048 on longest side†
    o	original image, either a jpg, gif or png, depending on source format
-->
